a { /* применяем стили ко всем ссылкам */
    color: yellow; /* устанавливаем цвет "Жёлтый" */
}

a:hover { /* применяем стили при наведении курсора на ссылку */
    color: green; /* устанавливаем цвет "Зелёный" */
    text-decoration: none; /* убираем подчёркивание текста */
}